<html>
    <head>
        <title>Me hrashq ej</title>
    <head>
    <body>
        <%- include('header') %>
        <form action="/action_page.php">
            Youtube link: <input type="text" name="Youtube" placeholder="link"><br>

        <input type="submit" value="Sxmi">
        </form>
    </body>
</html>
