<style>
    .menu
    {
        float: right;
    }
    .menu ul li
    {
        border:solid 1px;
        padding: 1em;
        display: inline-block;
        margin-right:1em;
    }
    .logo, .nameWeb
    {
        display:inline-block;
    }
    .logo img
    {
        width:14em;
    }
</style>
<div class="header">
    <!--<div class="logo"><img src="/image/trolltunga.jpg"></div>-->
    <!--<div class="nameWeb"><h1>Solid</h1></div>-->
    <!--<div class="menu">-->
        <!--<ul>-->
            <!--<li><a href="/">Main page</a></li>-->
            <!--<li id="logoutBut"><a href="/logout">Logout</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="container">
        <nav class="navbar navbar-light">
            <a href="/">
                <img src="/image/logo.png" height="60" alt="Logo">
            </a>
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/userInfo">User Info</a></li>
            </ul>
        </nav>
    </div>

</div>