<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <header>
    <a href="/">
        <img src="/image/logo.png" height="60" alt="Logo">
    </a>
    <ul class="menu">
        <li><a href="/">Main page</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/userInfo">User Info</a></li>
    </ul>
</header>
<div class="content">