<html>
    <head>
        <title>Playlist Store</title>
    </head>
    <body>
        <h1 style="text-align: center;">Playlist store</h1>
        <a href="/auth/youtube">Login</a>
    </body>
</html>