<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
    <%- include('header') %>
        <h1>Main Page</h1>
        <table>
            <tr>
                <td>
                    <h2>Purchases</h2>
                    <ul>
                    <li>Playlist 1</li>
                    <li>Playlist 2</li>
                    <li>Playlist 3</li>
                    <li>Playlist 4</li>
                    </ul>
                <td>
                <td>
                    <h2>Selling</h2>
                    <ul>
                    <li>Playlist 1</li>
                    <li>Playlist 2</li>
                    <li>Playlist 3</li>
                    <li>Playlist 4</li>
                    </ul>
                <td>
                <td>
                    <h2>Top 10 Playlists</h2>
                    <ul>
                    <li>Playlist 1</li>
                    <li>Playlist 2</li>
                    <li>Playlist 3</li>
                    <li>Playlist 4</li>
                    </ul>
                <td>
            </tr>
        </table>

    </body>
</html>