<html>
    <head>
        <style type="text/css">
            .header
            {
                padding: 1em;
                height: 14%;
            }
            .container
            {
                margin: auto;
                width: 66%;
            }
            .content, .footer, .header
            {
                margin-top:1em;
                border: solid 1px;
                padding: 10px;
            }
            .content div ul {
                display: inline-block;
                list-style-type:none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <%- include('header') %>
            <div class="content">
                <h1>Playlists</h1>
                <%for(var a=0; a < playlist.length;a++){ %>
                    <h2><%= playlist[a].snippet.title %><h2>
                    <% console.log(a); %>
                    <div>
                        <ul>
                            <%
                                for(var i=0; i < videos.length;i++){ 
                                    if(videos[i] == 'end')
                                    {
                                        videos.splice(0, i+1);
                                        break;
                                    }
                                    console.log(videos[i].items);
                                    for(var j = 0; j < videos[i].items.length; j++)
                                    {
                            %>
                                <li>
                                    <h3><%= videos[i].items[j].snippet.title %></h3>
                                    <iframe width="854" height="480" src="https://www.youtube.com/embed/<% videos[i].items[j].contentDetails.videoId %>" frameborder="0" allowfullscreen></iframe>
                                    <!--  <p><%= videos[i].items[j].snippet.description %></p>-->
                                </li>
                            <%
                                    }
                                }
                            %>
                        </ul>        
                    </div>
                <%}%>    
            </div>
            <div class="footer">
                <p class="footerP">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </body>
</html>