<html>
    <head>
        <style type="text/css">
            .header
            {
                padding: 1em;
                height: 14%;
            }
            .container
            {
                margin: auto;
                width: 66%;
            }
            .content, .footer, .header
            {
                margin-top:1em;
                border: solid 1px;
                padding: 10px;
            }
            .content div ul {
                display: inline-block;
                list-style-type:none;
            }
        </style>
    </head>
    <body>
            <%- include('header') %>
                <h1><%= playlist.title %></h1>

                <ol>
                    <% for(let i = 0; i<videos.length; i++) { %>
                        <li><%= videos[i] %></li>
                    <% } %>
                </ol>


                <%- include('footer')%>

        </div>
    </body>
</html>