<html>
    <head></head>
    <body>
        <h1>Playlists</h1>
        <div>
            <ul style="float:left;list-style-type:none;margin-top:0em;">
                <li>User 1</li>
                <li>User 2</li>
            </ul>
            <ul style="margin-left:5em;list-style-type:none;">
                <li>Play list 1</li>
                <li>Play list 2</li>
            </ul>
        </div>
    </body>
</html>