<html>
    <head>
        <style type="text/css">
            .content div ul {
                display: inline-block;
                list-style-type:none;
            }
            li{
                color: #44b7d0 !important;
            }
        </style>
    </head>
    <body>
            <%- include('header') %>
                <h1><%= playlist.title %></h1>

                <ol>
                    <% for(let i = 0; i<videos.length; i++) { %>
                        <li><%= videos[i] %></li>
                    <% } %>
                </ol>


                <%- include('footer')%>

        </div>
    </body>
</html>