.menu {
    float: right;
}

.menu ul li{
    border:solid 1px;
    padding: 1em;
    display: inline-block;
    margin-right:1em;
}

.logo, .nameWeb
{
    display:inline-block;
}

.logo img{
    width:14em;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    margin-right:1em;
    padding: 1em;
}

.container{
    width: 75%;
    margin: auto;
    height: 99%;
}

.footerP {
    margin: auto;
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 1.05em
}

ul
{
    list-style-type: none;
}
body{
    background: #38383a;
    margin: 8px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
a, h1, p, span{
    color: #44b7d0 !important;
}

footer{
    position: relative;
    bottom: 1em;
    width: 100%;
}

h2{
    color:rgb(255, 255, 255);
}

button{
    background-color: #fffaff;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #44b7d0;
    border: none;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 17px;
    padding: 3px;
    width: 122px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.content ul li{
    margin: 1em;
    width: 400px;
    height: 35px;
}
.content ul{

    margin-top: 2em;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #FFFFFF !important;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.dontSell {
    float:right;
}

.content {
    margin-top: 70px;
}

.info{
    color: #41b5d0;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#edit, #sub {
    color: white;
    background-color: #3eb4cf;
    border: solid 1px #3eb4cf;
    border-radius: 4px;
    padding: 10px;
}

li > * {
    vertical-align: middle;
}
::-webkit-input-placeholder {
    color: white;
}
::-moz-placeholder {
    color: white;
}
:-ms-input-placeholder {
    color: white;
}
:-moz-placeholder {
    color: white;
}